.WeatherForecast {
  text-align: center;
  font-size: 14px;
}
.WeatherForecast-icon img {
  float: none;
  width: 42px;
  height: 42px;
}
.WeatherForecast .row {
  margin-top: 40px;
}
.WeatherForecast .col {
  padding: 15px;
}
.WeatherForecast-temperature-max {
  font-weight: 700;
}
.WeatherForecast-temperature-min {
  opacity: 0.7;
}
.WeatherForecast .col:first-child {
  border: 1px solid rgba(220, 237, 237, 0.9);
  border-radius: 5px;
  background-color: rgba(234, 249, 249, 0.7);
}

@media (max-width: 700px) {
  .WeatherForecast .row {
    flex-direction: row !important;
    margin-top: 0;
    padding: 30px;
  }
  .WeatherForecast .col {
    margin: 20px;
  }
}
