.Weather {
  border: 1px solid rgba(220, 237, 237);
  background-color: #fff !important;
  color: #4b4b4b;
  border-radius: 5px;
  padding: 45px;
  margin: 0 auto;
}
.Weather h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 0 0;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 84px;
  width: 84px;
  margin: 0 auto;
}
.Weather .temperature {
  font-weight: 400;
  color: #4b4b4b;
  font-size: 64px;
  line-height: 84px;
  margin-left: 10px;
}
.Weather .unit {
  color: #4b4b4b;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}

@media (max-width: 700px) {
  .Weather {
    text-align: center !important;
    padding: 20px;
    border: none;
  }
  .Weather form {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .Weather .row {
    flex-direction: column;
  }
  .col-9,
  .col-3 {
    width: 100% !important;
    margin: 5px auto;
  }
  .mt-5 {
    margin-top: 0 !important;
  }
  .col-4 {
    text-align: center;
    margin: 0 auto !important;
  }
  .col-4 ul {
    margin: 0 !important;
    text-align: center !important;
  }
}
